{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/roadmaps/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}skill/python/" role="button">{{ i18n "roadmaps" }}</a>
      <p class="meta"><a href="https://github.com/rajtilakjee/devmaps/blob/main/LICENSE"><img src="https://img.shields.io/github/license/h-enk/doks?style=flat-square" alt="GitHub"></a></a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Self-paced learning</h2>
          <p>Provides a flexible learning approach that allows candidates to learn at their own pace.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Personalized learning</h2>
          <p>Tailored learning paths to candidates' skills and interests, providing a more personalized learning experience.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Goal-oriented learning</h2>
          <p>Candidates can set achievable learning goals that align with their career aspirations based on the role/skill they want to acquire.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Increased employability</h2>
          <p>Equips candidates with the skills that employers are looking for, increasing their chances of getting hired.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Fully open-source</h2>
          <p>Being fully open-source and regularly maintained, you can the most updated roadmaps based on industry trends.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Prepared with chatGPT</h2>
          <p>All roadmaps are prepared using chatGPT from OpenAI making it relevant and up-to-date.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
